*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: norse;
    src: url(./assets/fonts/Norse-Bold.otf);
}

:root{
    --bg: #596D48;
    --border: #E5E7EB;
    --border-invalid: crimson;
    --border-valid: limegreen;
    --blue: blue;
}

.btn{
    background-color: var(--bg);
    text-transform: capitalize;
    color: whitesmoke;
    border: none;
    width: max-content;
    padding: .5rem 1rem;
    border-radius: .5rem;
    box-shadow: 1px 1px 5px var(--bg);
    transition: .3s ease-in-out;

    &:hover{
        box-shadow: unset;
        background-color: rgba(89, 109, 72, 0.9);
    }
}

body{
    font-family: norse;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #CBCBCB;
    color: #101820ff;
}

img{
    max-width: 100%;
    max-height: 100%;
}


.container .flex-container{
    display: flex;

    & .sign-up-image{
        padding-top: 8rem;
        width:30%;
        background: url(./assets/images/halie-west-25xggax4bSA-unsplash.jpg) no-repeat;
        background-size: cover;

        & .logo{
            height: 100px;
            background: rgba(0, 0, 0, 0.3);
            color: whitesmoke;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
        }
    }

    & .sign-up-form{
        width: 70%;

        & .text{
            padding: 2rem 0 2rem 3rem;
            width: 80%;
            font-size: 1.3rem;

            & p:nth-child(1){
                margin-bottom: 1rem;
            }
        }

        & .form{
           
            & form{
                padding: 2rem 3rem;
                background-color: whitesmoke;
                display:grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;

                & h2{
                    margin-bottom: 1rem;
                    text-transform: uppercase;
                    grid-column: 1/-1;
                }

                & .form-group{
                    & label{
                        display: block;
                        text-transform: uppercase;
                        margin-bottom: .5rem;
                        font-weight: 500;
                    }

                    & input{
                        padding: .33rem .5rem;
                        border-radius: .2rem;
                        border: 1px solid var(--border);
                    }
                }

                & .btn{
                    grid-column: 1/-1;
                    margin-top: 1rem;
                }
            }
        }

       

        & .login{
            margin-top: 1rem;
            padding: 0 0 2rem 3rem;
            & span{
                color: var(--bg);
            }
        }
    }
}


input:focus:valid, input:valid{
    outline: 1px solid var(--border-valid);
    background-color: rgba(50, 205, 50, 0.3);
}

input:focus:invalid:not(placeholder-shown){
    outline: 1px solid var(--border-invalid);
    background-color: rgba(220, 20, 60, 0.3);
}

input:focus{
    outline: 1px solid blue;
}




